.hit-list-container {
    margin: 5px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-header:hover {
    color: #3f51b5;
}

.mat-header:focus {
    color: #3f51b5;
}

.data-row:hover {
    background-color:rgba(63, 81, 181, 0.1);
    cursor: pointer;
}

.row-selected {
    background-color:#3f51b5;
}

.row-selected:hover {
    background-color:#3f51b5;
}

.row-selected>.mat-cell {
    color: #fff;
}

.btn-clearAll {
    cursor: pointer;
}

.data-table {
    height: 20vh;
    overflow-y: auto;
}