.hit-list-container {
    margin: 5px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-header:hover {
    color: #337ab7;
}

.mat-header:focus {
    color: #337ab7;
}

.data-row:hover {
    background-color:rgba(63, 81, 181, 0.1);
    cursor: pointer;
}