.header {
    font-family: nunito;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #6573C3;
}

.btn-close {
    float: right;
    color: #6573C3;
}

.btn-close:focus {
    background-color: transparent;
}

.btn-close:hover {
    color: #3f51b5;
    cursor: pointer;
}

mat-form-field {
    width: 100%;
}