<div class="page-container" > 
  <mat-toolbar class="toolbar-container"  color="primary">
      <mat-toolbar-row class="toolbar">
            <div>
                <i class="fa fa-users" aria-hidden="true"></i> <span>Collaboration</span>
            </div>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon mat-list-icon>question_answer</mat-icon>
            </button>
      </mat-toolbar-row>
  </mat-toolbar>

    <mat-drawer-container class="main-container" autosize>
        <div *ngIf="!isLoading" class="content-container" >
            <mat-card class="doc-hitlist-container">
                <doc-hitlist></doc-hitlist>
            </mat-card>
            <mat-card class="doc-viewer-container">
                <doc-viewer></doc-viewer>
            </mat-card>
        </div>

        <div *ngIf="isLoading" class="doc-loading-state">
            <mat-spinner></mat-spinner>
        </div>

        <mat-drawer #drawer class="right-sidenav" mode="side" opened="{{!isLoading}}" position="end">
            <doc-thread></doc-thread>
        </mat-drawer>
    </mat-drawer-container>
</div>

